nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: rgba(0 0, 0, 0.5);
  backdrop-filter: blur(25px);
  padding: 16px 32px;
  border-radius: 0 0 10px 10px;
  position: fixed;
  width: 1024px;
  top: 24px;
  z-index: 300;
}

nav ul {
  display: flex;
  gap: 50px;
  padding: 0;
  list-style: none;
}

nav ul li a,
nav a.logo {
  font-weight: 800;
  color: #fff;
}

nav ul li a:hover,
nav .logo span {
  color: var(--red-color);
}
