#testimonial .content-container {
  margin-top: 50px;
  justify-content: space-between;
}

#testimonial .info-box {
  width: 264px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#testimonial .info-box img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

#testimonial .info-box h5,
#testimonial .info-box p {
  margin: 0;
  padding: 0;
}

#testimonial .info-box h5 {
  font-family: "Alegreya", serif;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 800;
}

#testimonial .info-box p {
  font-family: "Alegreya", serif;
  font-size: 16px;
}

/* Tablet Screen Size */
@media screen and (max-width: 1024px) {
  #testimonial .content-container {
    flex-direction: column;
    gap: 50px;
  }

  #testimonial .info-box {
    flex-direction: row;
    margin-top: 50px;
    margin-left: 20px;
    gap: 28px;
  }
}

/* Tablet Screen Size */
@media screen and (max-width: 620px) {
  #testimonial .content-container {
    flex-direction: column;
    gap: 60px;
  }

  #testimonial .info-box {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
  }
}
