#info .info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}

#info .info-box .amount {
  font-size: 40px;
  font-weight: 800;
}

#info .info-box .type {
  font-family: "Alegreya", serif;
  font-size: 30px;
  font-weight: 800;
}

#info .info-box .amount,
#info .info-box .type {
  margin: 0;
  padding: 0;
}

/* Tablet Screen Size */
@media screen and (max-width: 1024px) {
  #info .info-box .amount {
    font-size: 32px;
  }

  #info .info-box .type {
    font-size: 24px;
  }
}

/* Tablet Screen Size */
@media screen and (max-width: 620px) {
  #info .content-container {
    flex-direction: column;
    gap: 80px;
  }

  #info .info-box .amount {
    font-size: 32px;
  }

  #info .info-box .type {
    font-size: 24px;
  }
}
